@font-face{
	font-family: twemoji;
	font-weight: 400;
	font-style: normal;
	src: url("chrome-extension://__MSG_@@extension_id__/assets/twemoji.ttf");
}

@font-face{
	font-family: twitma;
	font-weight: 400;
	font-style: normal;
	src: url("chrome-extension://__MSG_@@extension_id__/assets/twitma.woff");
}
