* {
	margin: 0;
	box-sizing: border-box;
}

html {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	
	font-variant-ligatures: none;
	overflow-wrap: break-word;
	overflow-wrap: anywhere; /*break-word;*/
}

* {
	vertical-align: top;	
}

.Row {
	display: flex;
	flex-direction: row;
}
.Col {
	display: flex;
	flex-direction: column;
}

.Col > *, .Row > * {
	/*flex-shrink: 0;*/
}

.Col:not(.flex-wrap) > .grow {
	height: 0;
}

.Row:not(.flex-wrap) > .grow {
	width: 0;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap > .grow {
	flex-basis: auto;
}

.grow {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.sized {
	flex-shrink: 1;
}

body {
	height: 100%;
	/*overflow-y: scroll;*/
}

.fill {
	display: block;
	width: 100%;
	height: 100%;
}

.pre {
	white-space: pre-wrap;
	unicode-bidi: embed;
}

.align {
	align-items: center;
}

template, [hidden] {
	display: none !important;
}

button {
	font-family: inherit;
}

.right-align {
	text-align: right;
}

L- {
	display: block;
}
