html {
	font-family: roboto, sans-serif, twemoji, twitma;
	line-height: 1.15;
}

#\$sidebar {
	background: pink;
	width: 30%;
}

.avatar {
	border: 1px solid black;
	aspect-ratio: 1/1;
}

media-box {
	height: 8rem;
	display: flex;
	border: 1px solid gray;
}

summary-card {
	height: 8rem;
	border: 1px solid gray;
}

summary-card > div {
	height: 0;
}

summary-card > div > img {
	object-fit: contain;
}

media-box > * {
	flex-basis: 0;
	flex-grow: 1;
	height: 100%;
	display: flex;
}

media-box > media-image > img {
	height: 0;
	object-fit: contain;
}

.name {
	font-weight: bold;	
}

.username {
	font-family: monospace;
}

tl-tweet {
	display: block;
	border: 1px solid red;
}

tl-profile {
	display: block;
}

.contents {
	margin: 0.4rem;
	/*border: 2px inset silver;*/
	max-width: 5in;
}

tl-tweet .contents > * {
	margin-top: 0.5rem;
}

tl-tweet .avatar {
	width: 73px;
	height: 73px;
	box-sizing: content-box;
}

tl-profile .avatar {
	width: 100px;
	height: 100px;
	box-sizing: content-box;
}

time-line {
	max-width: 6in;
	margin: auto;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

tl-profile .banner {
	width: 100%;
	aspect-ratio: 3/1;
}

.things > * {
	margin: 0.2rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.reaction.own-reaction {
	background-color: lightblue;
}

.reaction {
	padding: 0.1rem;
}

tl-list {
	border: 1px solid red;
}

tl-list .list-icon {
	width: 3rem;
	height: 3rem;
	background-size: cover;
	background-position: center;
}

[contenteditable] {
	white-space: pre-wrap;
	border: 3px outset green; /* place your writings on the pedistal*/
}

.poll-bar-container {
	position: relative;
}

.poll-bar {
	background-color: #8F9;
	position: absolute;
	z-index: -10;
	height: 100%;
}

tweet-poll {
	display: block;
	border: 1px solid black;
}

poll-option {

}
