html {
	font-family: roboto, sans-serif, twemoji, twitma;
}

#\$sidebar {
	background: pink;
	width: 30%;
}

#\$profile_banner_container {
	width: 100%;
	aspect-ratio: 3/1;
}

.over-image {
	/*text-shadow: 2px 0px 2px white, -2px 0px 2px white, 0px 2px 2px white, 0px -2px 2px white;*/
	background-color: rgba(255,255,255,0.9);
}

#\$profile_banner {
	width: 100%;
	aspect-ratio: 3/1;
	background-size: cover;
}

#\$profile_picture_container {
	max-width: 25vw;
	max-height: 25vh;
	height: 99999px;
	aspect-ratio: 1/1;
}

#\$profile_name {
	font-weight: bold;
	font-size: 2em;
	padding: .3rem;
}

#\$profile_username {
	font-family: monospace;
	font-size: 1.5em;
	padding: .3rem;
}

#\$profile_picture {
	border: 2px solid black;
}

#\$profile_bio {
	padding: .3rem;
}

.avatar {
	border: 1px solid black;
	aspect-ratio: 1/1;
}

.tweet-image {
	max-width: 100%;
	max-height: 20vh;
	border: 1px solid gray;
}

.name {
	font-weight: bold;	
}

.username {
	font-family: monospace;
}

.tweet {
	border: 1px solid red;
}

.tweet-contents {
	padding: 0.5rem;
	max-width: 5in;
}

.tweet-contents > * {
	margin-top: 0.5rem;
}

.tweet-header > * {
	padding: 0.2rem;
}

.tweet .avatar {
	width: 73px;
	height: 73px;
	box-sizing: content-box;
}
