/* this lets us use width/height html attributes to set an image's intrinsic size without affecting how large it will display as */
:where(img[width]) {
	width: auto;
	height: auto;
}

button, a {
	cursor: pointer;
}

html {
	font-family: roboto, noto-sans, twemoji, twitma;
	line-height: 1.15;
	--sidebar-width: 6rem;
}

* {
	font-family: roboto, noto-sans, twemoji, twitma;
}

#\$sidebar {
	background: pink;
	width: 30%;
}

.avatar {
	border: 1px solid white;
	aspect-ratio: 1/1;
}

media-box {
	height: 8rem;
	display: flex;
	border: 1px solid gray;
}

summary-card {
	height: 8rem;
	border: 1px solid gray;
}

summary-card > div {
	height: 0;
}

summary-card > div > img {
	object-fit: contain;
}

media-box > * {
	flex-basis: 0;
	flex-grow: 1;
	height: 100%;
	display: flex;
}

media-box > media-item > img {
	height: 0;
	object-fit: contain;
}

media-box > media-item > video {
	height: 0;
	object-fit: contain;
}

.name {
	font-weight: bold;	
}

.username {
	font-family: monospace;
}

tl-tweet {
	display: block;
	border: 2px solid #bbb;
}

tl-profile {
	display: block;
}

.contents {
	margin: 0.4rem;
	/*border: 2px inset silver;*/
}

tl-tweet .contents > * {
	margin-top: 0.5rem;
}

tl-tweet .avatar {
	width: 73px;
	height: 73px;
	box-sizing: content-box;
}

tl-profile .avatar {
	width: 100px;
	height: 100px;
	box-sizing: content-box;
}

time-line {
	display: flex;
	flex-direction: column;
}

tl-profile .banner {
	width: 100%;
	aspect-ratio: 3/1;
}

.things > * {
	margin: 0.2rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, a:visited {
	color: #009;
}

.reaction.own-reaction {
	background-color: #c7f;
}

.reaction {
	padding: 0.1rem;
	display: flex;
	border: 1px solid purple;
	background-color: #edf;
}

.reaction:hover {
	background-color: purple;
}

.reaction > span > svg {
	width: 1rem;
}

tl-list {
	border: 1px solid red;
}

tl-list .list-icon {
	width: 3rem;
	height: 3rem;
	background-size: cover;
	background-position: center;
}

[contenteditable] {
	white-space: pre-wrap;
	border: 3px outset green; /* place your writings on the pedistal*/
}

.poll-bar-container {
	position: relative;
}

.poll-bar {
	background-color: #8F9;
	position: absolute;
	z-index: -10;
	height: 100%;
}

tweet-poll {
	display: block;
	border: 1px solid black;
}

poll-option {
	
}

main-scroller {
	display: flex;
	overflow-y: scroll;
	height: 100%;
}

scroll-inner {
	display: block;
}

main-scroller > scroll-inner {
	max-width: 6in;
	width: 6in;
	/*margin-left: var(--sidebar-width);*/
	margin-right: auto;
	/*border-left: 1px solid gray;
	border-right: 1px solid gray;*/
	min-height: 100%;
	height: fit-content;
}

body {
	display: flex;
	flex-direction: row;
}

side-bar {
	/*width: var(--sidebar-width);*/
	flex-shrink: 0;
	position: sticky;
	height: 100%;
	top: 0;
	border-right:2px solid white;
}

html.f-loading body {
	background-color: #DFC;
}

html.f-rendering body {
	background-color: #CDF;
}

image-viewer {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

image-viewer > img {
	object-fit: contain;
	height: 0;
	flex-grow: 1;
}

tl-entry {
	/*margin-bottom: 8px;*/
}

.nft-avatar {
	border: 2px inset #F0F;
}

a[href] {
	background-color: rgba(0,128,255,0.2);
	/*background-image: url("chrome-extension://fnpbhnkodjoeohgpkcfhmfplkfdimoco/assets/dither.png");*/
}

.tabs > * {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	border: 2px outset blue;
}

.reactions {
	margin: 1px
}

.badges > svg {
	width: 1rem;
}

img[data-big_src] {
	cursor: zoom-in;
}

time-line{
	row-gap: 8px;
}

svg.icon {
	width: 1rem;
}

/* just a good default so SVGs dont become infinitely big */
svg {
	width: 1rem;
}
